* {
    box-sizing: border-box;
}


:root[data-reduce-motion] > body * {
    transition: none;
}

body {
    margin: 1rem 0;
    background-color: var(--color-bg);
    
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: var(--font-xl);

    @include mq('sm') {
        font-size: var(--font-xxxl);
    }
}

h2 {
    font-size: var(--font-lg);
    
    @include mq('sm') {
        font-size: var(--font-xl);
    }
}

h3 {
    font-size: var(--font-md);
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    &:focus:not(.focus-visible) {
        outline: none;
    }
}